body {
	font-family: 'Rubik', sans-serif;
}
h2 {
	font-weight: 500;
}
.create__title {
	display: block;
}

.create__body {
	display: block;
}

.entries, .create, .view {
	border: 2px solid #ccc;
}

.entries__deleteBtn {
	color: crimson;
	margin-left: 1rem;
}
.entries__deleteBtn:hover {
	color: #ccc;
}